@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 237, 237, 237;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #030303;
  background-image: radial-gradient(circle at 50% 0%, #1c0d36 0%, #030303 60%);
  background-attachment: fixed;
  min-height: 100vh;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/[0.03] backdrop-blur-[24px] border border-white/[0.08] shadow-[0_8px_32px_0_rgba(0,0,0,0.5)] rounded-2xl transition-all duration-300;
  }
}
